a {
	text-decoration: none;
	color: #6d6d6d;
	color: var(--link-text);
	outline: none;
}

a:hover,
a:focus {
	outline: none;
	color: #fff;
	color: var(--link-text-hover);
}

/* Content */
#map {
	position: relative;
	display: grid;
	min-width: 100%;
	min-height: 100vh;
	font-family: var(--content-font);
	scroll-snap-align: start;
	/* border-radius: 200px;
	box-shadow: 0px 0px #fff; */
}

#border {
	z-index: 8;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

h3 {
	color: #000;
}

p {
	color: #000;
}

.content {
	--body-text: #eff5ed;
	--body-text-alt: #878787;
	--body-bg: #494949;
	--content-font: "Helvetica Neue", Arial, sans-serif;
    --body-text: #ffffff;
	--body-text-alt: #525252;
	/* --body-bg: #3d3d3d; */
	--link-text: #6d6d6d;
	--link-text-hover: #eff5ed;
	--content-title-text: #000;
	--content-subtitle-text: #f1d51d;
    --highlight-text: rgb(216, 112, 112);
    --content-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
	position: relative;
	display: grid;
	grid-template-areas: "content-title . slides slides"
						 "content-menu content-menu slides slides"
						 ". . slides slides";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 150px 0px 1fr;
	min-width: 100%;
	min-height: 100vh;
	font-family: var(--content-font);
	--pieces-height: calc(70vh);
	scroll-snap-align: start;
	background-color: #dbababff;
	/* --pieces-height: 50vh; */
}

.content__header {
	display: flex;
	/* align-items: center; */
}

.content__title {
	grid-area: content-title;
	position: relative;
	padding: 10%;
	opacity: 0.7;
}

.slideshow {
	grid-area: slides;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5%;
}

.slide {
	opacity: 0;
}

.pieces {
	flex: none;
	opacity: 1;
	height: var(--pieces-height);
	width: calc(var(--pieces-height) * 0.76);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	border: 5px solid #fff;
}


.piece {
	pointer-events: none;
}

.menu {
	z-index: 4;
	grid-area: content-menu;
	padding-left: 10%;
	/* align-content: start; */
}

.menu__item {
	font-size: 1.5em;
}

.menu__item:not(:last-child)::after {
	content: ' . ';
}

.menu__item span {
	opacity: 0.5;
}

.menu__item:hover {
	color: #000;
}

.menu__item--current,
.menu__item--current:hover,
.menu__item--current:focus {
	color: var(--highlight-text);
}

@media screen and (max-width: 40em) {
	.content {
		/* padding: 0 10vw; */
		grid-template-areas: "content-title"
		"content-menu"
		"slides";
		grid-template-columns: 1fr;
		grid-template-rows: 150px 150px 1fr;
		height: auto;
		/* margin-bottom: 8em; */
		--pieces-height: 50vh;
	}
	/* .slideshow {
		grid-area: 2 / 1 / 4 / 2;
	}
	.content__header {
		grid-column: 1 / 2;
	} */
	.content__title {
		padding: 5%;
	}
	.menu {
		padding-right: 10%;
	}
	/* .menu__item {
		font-size: 1.5em;
	} */
}
    

